<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="applicable-device" content="pc,wap">
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="true"/>

<title>{ms:global.name/}</title>
<meta name="keywords" content="{ms:global.keyword/}" />
<meta name="description" content="{ms:global.descrip/}" />
<link rel="stylesheet" href="/{ms:global.style/}/css/animate.min.css">
<link rel="stylesheet" href="/{ms:global.style/}/css/animate.min.css">
<link rel="stylesheet" href="/{ms:global.style/}/css/swiper.min.css">
<link rel="stylesheet" href="/{ms:global.style/}/css/style.css">
<script src="/{ms:global.style/}/js/jquery.min.js"></script>
<script src="/{ms:global.style/}/js/wow.min.js"></script>
<script src="/{ms:global.style/}/js/swiper.min.js"></script>
<script src="/{ms:global.style/}/js/style.js"></script>
</head>
<body>
<!--页面头部-->
<#include "head.html" />

<!--banner图-->
<div class="swiper-container banner">
  <video src="/{ms:global.style/}/images/banner.mp4" autoplay loop muted></video>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="img-cover"><span style="background-image: url(/{ms:global.style/}/images/sj.jpg);"></span></div>
      <div class="text">
        <div class="inner">
          <h4>成熟可靠的品牌建设合作伙伴</h4>
          <p>我们有经验和实力把您的奇思妙想变为现实</p>
          <a  href="javascript:;" rel="nofollow" target="_blank">了解更多</a> </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="img-cover"><span style="background-image: url(/{ms:global.style/}/images/sj2.jpg);"></span></div>
      <div class="text">
        <div class="inner">
          <h4>您想不到的我们也将帮助去实现</h4>
          <p>创业初期,独创以服务为驱动的互联网公司,至今从未改变</p>
          <a  href="javascript:;" rel="nofollow" target="_blank">了解更多</a> </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination-white"></div>
</div>
<div class="container">
  <ul class="in-total wow bounceInUp clearfix">
    <li><span><strong class="timer" data-speed="1500" data-to="11">0</strong>年</span>
      <p>品牌网站建设与营销经验</p>
    </li>
    <li><span><strong class="timer" data-speed="1500" data-to="4000">0</strong>家</span>
      <p>服务超4000多家企业用户</p>
    </li>
    <li><span><strong class="timer" data-speed="1500" data-to="260">0</strong>项</span>
      <p>网站细节标准</p>
    </li>
    <li><span><strong class="timer" data-speed="1500" data-to="24">0</strong>时</span>
      <p>客户服务真正7X24h响应</p>
    </li>
  </ul>
</div>

<!--我们的服务-->
<div class="section" style="overflow: hidden;">
  <div class="container">
    <div class="section-title"> <strong>我们的服务 · <span>SERVIES</span></strong>
      <p>专注于企业网站建设及推广,从而有效提升公司形象</p>
    </div>
    <ul class="in-server clearfix">
      <li class="wow bounceInLeft">{ms:channel type='self' typeid="1901882669555359748"}<a href="{ms:global.html/}${field.typelink}">
        <div class="img-center"><img src="/{ms:global.style/}/images/xy_1.png" alt="${field.typetitle}"></div>
        <h4>${field.typetitle}</h4>
        <p>${field.typeshorttitle}</p>
        <span>${field.typetitle}</span> </a>{/ms:channel}</li>
      <li class="wow bounceInLeft">{ms:channel type='self' typeid="1901882669555359753"}<a href="{ms:global.html/}${field.typelink}">
        <div class="img-center"><img src="/{ms:global.style/}/images/xy_4.png" alt="${field.typetitle}"></div>
        <h4>${field.typetitle}</h4>
        <p>${field.typeshorttitle}</p>
        <span>${field.typetitle}</span> </a>{/ms:channel}</li>
      <li class="wow bounceInLeft">{ms:channel type='self' typeid="1901882669555359752"}<a href="{ms:global.html/}${field.typelink}">
        <div class="img-center"><img src="/{ms:global.style/}/images/xy_5.png" alt="${field.typetitle}"></div>
        <h4>${field.typetitle}</h4>
        <p>${field.typeshorttitle}</p>
        <span>${field.typetitle}</span> </a>{/ms:channel}</li>
      <li class="wow bounceInLeft">{ms:channel type='self' typeid="1901882669555359751"}<a href="{ms:global.html/}${field.typelink}">
        <div class="img-center"><img src="/{ms:global.style/}/images/xy_3.png" alt="${field.typetitle}"></div>
        <h4>${field.typetitle}</h4>
        <p>${field.typeshorttitle}</p>
        <span>${field.typetitle}</span> </a>{/ms:channel}</li>
    </ul>
  </div>
</div>

<!--一家以服务口碑为核心的互联网公司-->
<div class="section in-desc">
  <div class="container clearfix">
    <div class="logo img-center wow bounceInLeft"><img src="/{ms:global.style/}/images/slogo.png" /></div>
    <div class="text wow bounceInRight">
      <h4>一家以服务口碑为核心的互联网公司</h4>
      <h5>多年来，我们一直用诚心、责任心服务每一位客户</h5>
      <p>我们坚信：善待客户，将会成为终身客户。我们能坚持多年，是因为我们一直可值得信赖。我们从不忽悠初访客户， 也未曾收到过客户投诉， 我们用心做好本职工作，不忘初心，方得始终。</p>
      {ms:channel type='self' typeid="1901882669555359744"}<a href="{ms:global.html/}${field.typelink}" rel="nofollow">初次合作 | 了解我们</a>{/ms:channel}
      {ms:channel type='self' typeid="1901882669555359754"}<a href="{ms:global.html/}${field.typelink}" rel="nofollow">选择我们 | 质量保障</a>{/ms:channel}</div>
  </div>
</div>

<!--营销推广-->
<div class="section" style="background-color:#f5f5f5">
  <div class="container">
    <div class="section-title"> <strong>营销推广 · <span>SEO</span></strong>
      <p>您拥有的不仅仅是一个网站,而是全方位互联网服务</p>
    </div>
    <ul class="in-seo clearfix">
      <li class="wow slideInUp"> <a>
        <div class="img-center"><img src="/{ms:global.style/}/images/zzfw_03.png" alt=""></div>
        <p>让有需求的客户随时随地联系您</p>
        </a> </li>
      <li class="wow slideInUp"> <a>
        <div class="img-center"><img src="/{ms:global.style/}/images/zzfw_06.png" alt=""></div>
        <p>日访问4亿用户，有效展现企业广告</p>
        </a> </li>
      <li class="wow slideInUp"> <a>
        <div class="img-center"><img src="/{ms:global.style/}/images/dy.png" alt=""></div>
        <p>大数据时代，精准匹配目标活跃用户</p>
        </a> </li>
      <li class="wow slideInDown"> <a>
        <div class="img-center"><img src="/{ms:global.style/}/images/zzfw_14.png" alt=""></div>
        <p>你不一定注重品牌设计，但你的对手一定会</p>
        </a> </li>
      <li class="wow slideInDown"> <a>
        <div class="img-center"><img src="/{ms:global.style/}/images/zzfw_18.png" alt=""></div>
        <p>我们让备案流程变的简单，高效</p>
        </a> </li>
      <li class="wow slideInDown"> <a>
        <div class="img-center"><img src="/{ms:global.style/}/images/indexzcr.png" alt=""></div>
        <p>通过新视频加载技术，带给您网站视觉震撼</p>
        </a> </li>
    </ul>
  </div>
</div>

<!--客户案例-->
<div class="section">
  <div class="container">
    <div class="section-title">{ms:channel type='self' typeid="1901882669555359751"}<strong>${field.typetitle} · <span>CASES</span></strong>{/ms:channel}
      <p>专业技术团队，展示效果好，值得信赖，助力品牌成为行业标杆，发展新趋势...</p>
    </div>
    <ul class="in-menu">
      {ms:channel typeid="1901882669555359751"}<li><a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">${field.typetitle}</a></li>{/ms:channel}
    </ul>
  </div>
  <ul class="list-1 clearfix">
    {ms:arclist typeid="1901882669555359751" size=8}
    <li class="wow slideInUp"> <a href="{ms:global.html/}${field.link}">
      <div class="img-cover"><span style="background-image:url({@ms:file field.litpic/});"></span></div>
      <div class="text">
        <div class="inner">
          <h4>{@ms:len field.title 15 /}</h4>
          <p>{@ms:len field.descrip 80 /}</p>
        </div>
      </div>
      </a> </li>
      {/ms:arclist}
  </ul>
</div>

<!--新闻动态-->
<div class="section">
  <div class="container">
    <div class="section-title">{ms:channel type='self' typeid="1901882669555359745"}<strong>${field.typetitle} · <span>${field.typeshorttitle}</span></strong>{/ms:channel}
      <p>汇集最新最全的建站优化信息，与大家共同分享</p>
    </div>
    <ul class="in-menu index-news-menu">
      {ms:channel typeid="1901882669555359745"}<li><a href="javascript:;" rel="nofollow">${field.typetitle}</a></li>{/ms:channel}
    </ul>
    <div class="swiper-container index-news-con">
      <div class="swiper-wrapper">
        {ms:channel typeid="1901882669555359745"}
        <div class="swiper-slide">
          <div class="img-center"><img src="{@ms:file field.typeico/}" alt="${field.typetitle}"></div>
          <ul class="list-2">
            {ms:arclist size=8}
            <li> <a href="{ms:global.html/}${field.link}">
              <div class="date"><strong>${field.date?string("dd")}</strong>${field.date?string("yyyy-MM")}</div>
              <div class="text">
                <h4>{@ms:len field.title 15 /}</h4>
                <p>{@ms:len field.descrip 50 /}</p>
              </div>
              </a>
            </li>
            {/ms:arclist}
          </ul>
        </div>
        {/ms:channel}
        
      </div>
    </div>
  </div>
</div>

<!--一家以服务口碑为核心的互联网公司-->
<div class="section in-desc">
  <div class="container clearfix">
    <div class="logo img-center wow bounceInLeft"><img src="/{ms:global.style/}/images/slogo.png" alt="某某公司" /></div>
    <div class="text wow bounceInRight">
      <h4>一家以服务口碑为核心的互联网公司</h4>
      <h5>多年来，我们一直用诚心、责任心服务每一位客户</h5>
      <p>我们坚信：善待客户，将会成为终身客户。我们能坚持多年，是因为我们一直可值得信赖。我们从不忽悠初访客户， 也未曾收到过客户投诉， 我们用心做好本职工作，不忘初心，方得始终。</p>
      {ms:channel type='self' typeid="1901882669555359744"}<a href="{ms:global.html/}${field.typelink}" rel="nofollow">初次合作 | 了解我们</a>{/ms:channel}
      {ms:channel type='self' typeid="1901882669555359754"}<a href="{ms:global.html/}${field.typelink}" rel="nofollow">选择我们 | 质量保障</a>{/ms:channel}</div>
  </div>
</div>

<!--合作单位-->
<div class="section">
  <div class="container">
    <div class="section-title">{ms:channel type='self' typeid="1901882669555359763"}<strong>${field.typetitle} · <span>${field.typeshorttitle}</span></strong>{/ms:channel}
      <p>我们与多家精英企业合作，为您的网站在同行竞争中名列前茅</p>
    </div>
    <ul class="in-partners">
      {ms:arclist typeid="1901882669555359763" size=18}
      <li><a href="javascript:;">
        <div class="img-center"><img src="{@ms:file field.litpic/}" alt="${field.title}"></div>
        </a></li>
      {/ms:arclist}
    </ul>
  </div>
</div>

<!--建站流程-->
<div class="section" style="padding-top: 0;">
  <div class="container">
    <div class="section-title"> <strong>建站流程 · <span>Process</span></strong>
      <p>千里之行，始于足下 / 迈出建站第一步，从联系我们开始</p>
    </div>
    <ul class="in-process clearfix">
      <li class="wow slideInLeft"> <a href="javascript:;">
        <div class="img-center"><img src="/{ms:global.style/}/images/jzlc_06.png" alt=""></div>
        <h4>沟通并报价</h4>
        <p>提需求给予报价和周期</p>
        </a> </li>
      <li class="wow slideInLeft"> <a href="javascript:;">
        <div class="img-center"><img src="/{ms:global.style/}/images/jzlc_11.png" alt=""></div>
        <h4>签订协议</h4>
        <p>签建站协议,付款预支付</p>
        </a> </li>
      <li class="wow slideInLeft"> <a href="javascript:;">
        <div class="img-center"><img src="/{ms:global.style/}/images/jzlc_14.png" alt=""></div>
        <h4>页面设计</h4>
        <p>首页版面、颜色设计</p>
        </a> </li>
      <li class="wow slideInLeft"> <a href="javascript:;">
        <div class="img-center"><img src="/{ms:global.style/}/images/jzlc_20.png" alt=""></div>
        <h4>程序开发</h4>
        <p>管理系统程序编码</p>
        </a> </li>
      <li class="wow slideInLeft"> <a href="javascript:;">
        <div class="img-center"><img src="/{ms:global.style/}/images/jzlc_03.png" alt=""></div>
        <h4>上线运行</h4>
        <p>细节调整,结余款,上线运营</p>
        </a> </li>
      <li class="wow slideInLeft"> <a href="javascript:;">
        <div class="img-center"><img src="/{ms:global.style/}/images/jzlc_17.png" alt=""></div>
        <h4>售后维护</h4>
        <p>不限次数小改,享终身维护</p>
        </a> </li>
    </ul>
  </div>
</div>

<!--常见问题-->
<div class="section" >
  <div class="container">
    <div class="section-title">{ms:channel type='self' typeid="1901882669555359747"}<strong>${field.typetitle} · <span>${field.typeshorttitle}</span></strong>{/ms:channel}
      <p>我们汇总网站制作中遇到的常见问题,让您少走弯路,提高效率！</p>
    </div>
    <ul class="in-dynamic clearfix">
      {ms:arclist typeid="1901882669555359747" size=6}
      <li class="wow slideInUp"> <a href="{ms:global.html/}${field.link}">
        <h4>{@ms:len field.title 15 /}</h4>
        <p>{@ms:len field.descrip 50 /}</p>
        </a> </li>
      {/ms:arclist}
    </ul>
    {ms:channel type='self' typeid="1901882669555359747"}<a href="{ms:global.html/}${field.typelink}" rel="nofollow" class="more-big">查看更多</a>{/ms:channel}</div>
</div>
<div class="section" style="overflow: hidden;">
  <div class="container">
    <ul class="in-partone clearfix">
      <li class="wow bounceInLeft">
        <div class="wrap">
          <h4>继续在老套路中化作尘埃</h4>
          <a href="javascript:;" rel="nofollow" target="_blank">评估旧网站</a> </div>
      </li>
      <li class="wow bounceInRight">
        <div class="wrap">
          <h4>还是厚积薄发重新崛起</h4>
          <a href="javascript:;" rel="nofollow" target="_blank">启动新征程</a> </div>
      </li>
    </ul>
  </div>
</div>
<div class="section in-ready" style="padding-top: 0;">
  <div class="container">
    <h4>我们已经准备好了,你呢？</h4>
    <div class="btn"><a href="javascript:;" rel="nofollow" target="_blank">获取网站建设报价</a></div>
    <p>2020我们与您携手共赢，为您的企业形象保驾护航！</p>
  </div>
</div>

<!--友情链接-->
<div class="section" style="border-top: 1px solid #ddd;">
  <div class="container">
    <div class="yunu-link">
      <h4>友情链接 <small>/ LINKS</small></h4>
      <ul class="clearfix">
        <li><a href="https://www.baidu.com" target="_blank">百度 </a></li>
        <li><a href="https://www.qq.com" target="_blank">腾讯网 </a></li>
        <li><a href="https://www.sina.com.cn/" target="_blank">新浪网 </a></li>
      </ul>
    </div>
  </div>
</div>

<!--页面底部-->
<#include "foot.html" />
<script>
    var banner = new Swiper('.banner', {
        autoplay: true,
        loop: true,
        navigation: {
            prevEl: '.banner .swiper-button-prev',
            nextEl: '.banner .swiper-button-next'
        },
        pagination: {
            el: '.banner .swiper-pagination',
            clickable: true
        },
        on: {
            init: function (swiper) {
                var slide = this.slides.eq(0);
                slide.addClass('ani-slide');
            },
            transitionStart: function () {
                for (i = 0; i < this.slides.length; i++) {
                    var slide = this.slides.eq(i);
                    slide.removeClass('ani-slide');
                }
            },
            transitionEnd: function () {
                var slide = this.slides.eq(this.activeIndex);
                slide.addClass('ani-slide');

            },
        }
    });

    $('.timer').each(function () {
        $(this).countTo();
    });

    tabsSwiper('.index-news-menu', '.index-news-con');
</script>
</body>
</html>
